<h1 mat-dialog-title>Atualizar Usuário</h1>

<div mat-dialog-content>
  <div class="dialog-container">
    <div class="dialog-campos"><mat-icon>credit_card</mat-icon><input [(ngModel)]="id" type="text" value="{{data.id}}" readonly></div>
    <div class="dialog-campos"><mat-icon>credit_card</mat-icon><input [(ngModel)]="cpf" type="text" value="{{data.cpf}}" readonly></div>
    <div class="dialog-campos"><mat-icon>person_outline</mat-icon><input [(ngModel)]="nome" type="text" value="{{data.nome}}" ></div>
    <div class="dialog-campos"><mat-icon>smartphone</mat-icon><input  [(ngModel)]="contato" type="text" value="{{data.contato}}"></div>
    <div class="dialog-campos"><mat-icon> map</mat-icon><input [(ngModel)]="cep" type="text" value="{{data.cep}}"></div>
  </div>
</div>

<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Cancelar</button>
  <button (click)="atualizar()" mat-button mat-dialog-close cdkFocusInitial>Editar</button>
</div>
